.roboto-flex-300 {
  font-family: "Roboto Flex", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings:
    "slnt" 0,
    "wdth" 100,
    "GRAD" 0,
    "XOPQ" 96,
    "XTRA" 468,
    "YOPQ" 79,
    "YTAS" 750,
    "YTDE" -203,
    "YTFI" 738,
    "YTLC" 514,
    "YTUC" 712;
}


body {
  background-color: rgba(150, 154, 161, 0.7);
  margin: 0;
}


#root {
  max-width: 1280px;
  margin:  0 auto;
 
}

#mern {
  font-family: "Amita", serif;
  display: inline-block;
  font-size: 2rem;
  margin: 15px 0px 0px 17px;
}

.header {
  height: 75px;
  text-align: left;
  display: inline;
}

.nav-cont {
  display: flex;
  
}

.nav-link {
  display: inline-block;
  text-decoration: none;
  padding: 25px;
  font-size: 1.5rem;
  font-family: "Roboto Flex", sans-serif;
  color: black;
}

img {
  width: 45px;
}

.paragraph {
  text-align: left;
  margin: 0 auto 70px auto;
  font-family: "Source Serif 4", serif;
  font-size: 1.25rem;
}

.mobile-nav {
  display: none;
  margin: 25px 0px;
}

.burger-menu {
  position: absolute;
  top: 20px;
  right: 17px;
}

.content {
  margin: 0 auto;
  text-align: center;
  width: 85%;
}

#welcome {
  font-size: 3rem;
  margin-bottom: 70px;
}

.book {
  padding: 15px;
  font-size: 1.5rem;
  border-radius: 10px;
  background-color: rgb(193, 34, 34);
  color: rgb(0, 0, 0);
}

.schedule-button {
  padding: 5px;
  font-size: 0.85rem;
  border: 1px solid black;
  border-radius: 5px;
  background-color: rgb(193, 34, 34);
  color: rgb(0, 0, 0);
  margin-bottom: 5px;
}

.update-button {
  padding: 5px;
  font-size: 0.85rem;
  border: 1px solid black;
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  margin-bottom: 5px;
  margin-right: 10px;
}

.delete-button {
  padding: 5px;
  font-size: 0.85rem;
  border: 1px solid black;
  border-radius: 5px;
  background-color: rgb(32, 40, 125);
  color: rgb(232, 232, 232);
  margin-bottom: 5px;
}

.yes {
  padding: 15px;
  font-size: 1.5rem;
  border-radius: 10px;
  background-color: rgb(193, 34, 34);
  color: rgb(0, 0, 0);
  width: 150px;
}

.no {
  padding: 15px;
  font-size: 1.5rem;
  border-radius: 10px;
  background-color: rgb(32, 40, 125);
  color: rgb(232, 232, 232);
  margin: 30px 0px;
  width: 150px;
}

form input[type=text], select, [type=number], [type=textarea], [type=date], [type=email], [type=password] {
  width: 60vw;
  height: 30px;
  margin-top: 5px;
  margin-bottom: 20px;
  border-radius: 4px;
  max-width: 200px;
}

.underline {
  text-decoration: underline;
}

.card {
  border: 1px solid black;
  max-width: 300px;
  margin: 0 auto 10px auto;
}

@media all and (max-width: 500px) {

  .desktop-nav {
    display: none;
  }

  .mobile-nav {
    display: flex;
  }

  .nav-cont {
    flex-direction: column;
    width: 100vw;
    text-align: center;
  }

  .nav-link {
    display: inline-block;
    text-decoration: none;
    padding: 25px;
    font-size: 2.5rem;
    font-family: "Roboto Flex", sans-serif;
    color: black;
  }

}