.roboto-flex-300 {
  font-family: "Roboto Flex", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings:
    "slnt" 0,
    "wdth" 100,
    "GRAD" 0,
    "XOPQ" 96,
    "XTRA" 468,
    "YOPQ" 79,
    "YTAS" 750,
    "YTDE" -203,
    "YTFI" 738,
    "YTLC" 514,
    "YTUC" 712;
}


body {
  background-color: rgba(92, 98, 107, 0.7);
  margin: 0;
}


#root {
  max-width: 1280px;
  margin: 0 auto;
 
}


#mern {
  font-family: "Amita", serif;
  display: inline-block;
  font-size: 2rem;
  margin: 15px 0px 0px 17px;
}

.header {
  height: 75px;
  text-align: left;
 
}

.nav-cont {
  display: flex;  
}

.nav-link {
  display: inline-block;
  text-decoration: none;
  padding: 25px;
  font-size: 2.5rem;
}

img {
  width: 45px;
}

#greeting {
  width: 200px;
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
}

.mobile-nav {
  display: none;
  margin: 25px 0px;
}

.burger-menu {
  position: absolute;
  top: 20px;
  right: 17px;
}

.content {
  margin: 0 auto;
  text-align: center;
}

@media all and (max-width: 500px) {

  .desktop-nav {
    display: none;
  }

  .mobile-nav {
    display: flex;
  }

  .nav-cont {
    flex-direction: column;
    width: 95vw;
    text-align: center;
  }

  /* .nav-cont {
    flex-direction: column;
    text-align: center;
    height: 0;
    overflow: hidden;
  }

  .nav-link {
    display: block;
    padding: 50px 0px;
  }
  
  #nav-toggle {
    display: block;
  } */
}